
@{
    ViewBag.Title = "Call2";
}

<h2>Call2</h2>

<a href="http://developer.onsip.com/guides/sample-applications/conference/">OnSIP Conference Guide</a>

<link rel="stylesheet" href="~/Content/CareProvider/style.css">




<button id="start-demo">Start</button>
<video id="local-video" muted></video>
<div id="remote-video-container"></div>

<script src="~/Scripts/sip-0.6.2.js"></script>
<script src="~/Scripts/CareProvider/main3.js"></script>


