
@{
    ViewBag.Title = "CalledDevice2";
}

<h2>CalledDevice2</h2>

<a href="http://developer.onsip.com/guides/sample-applications/conference/">OnSIP Conference Guide</a>



<!doctype html>



<head>
    <title>Sample Video Conferencing</title>
</head>


    
<body>
    <!--
        <button id="start-demo">Start Demo</button>
        <video id="local-video" muted></video>
        <div id="remote-video-container"></div>
    -->
    

    <script src="sip-0.6.2.js"></script>
    <script src="~/Scripts/CareRecepient/main3.js"></script>
</body>




